
.add{
    width: 70%;
    margin-left: max(5vw,25px);
    margin-top: 50px;
    color: #6d6d6d;
    font-size: 16px;
}

.add-img-upload img{
    width: 160px;

}
.add-img-upload p{
    font-size: 25px;
}

.add-product-name input, .add-product-description textarea{
    width: max(40%,280px);
    padding: 20px;
    font-size: 22px;
 
}
.add-product-name p, .add-product-description p{
    font-size: 25px;
}

.add form{
    
    gap: 20px;
}

 
.add-category-price{
    display: flex;
    gap: 30px;
}
 
.add-category-price select{
   width: 200px;
  padding: 12px 35px 12px 12px; /* space for arrow */
  font-size: 19px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fff;
  cursor: pointer;
}
.add-category-price input{
     width: 200px;
  padding: 12px  ; /* space for arrow */
  font-size: 19px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fff;
  cursor: pointer;
}
.add-category-price p{
    font-size: 25px;
}

.add-btn{
    max-width: 150px;
    font-size: 20px;
    border: none;
    padding: 20px;
    background-color: black;
    color: white;
    cursor: pointer;
}