.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}

.navbar .logo{
    
    height: 192px;
    width: max(10% 80px);
}

.navbar .profile{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}