.app-download{
    margin: auto auto;
    margin-top: 100px;
    font-size: 120px;
    text-align: center;
    font-weight: 700;
}

.app-download-platforms{
      display: flex;
      justify-content: center;
      gap: max(2vw,10px);
      margin-top: 40px;
}

.app-download-platforms img{
    width: max(40vw,120px);
    max-width: 265px;
    transition: 0.5s;
    cursor: pointer;
}