.header{
    height: 34vw;
    margin-top:0;
    background: url('/header_img.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 15px;
    overflow: hidden;

}

.header-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 5vw;
    animation: fadeIn 3s;

}
.header-content h2{
    font-weight: 500;
    color: white;
    font-size: max(4.5vw, 22px);
}
.header-content p{
    color: white;
    font-size: 1.5vw;
    padding: 7px;
}
.header-content button{
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color:white;
    font-size: max(1vw,13px);
    border-radius: 50px;
    margin: 12px;
    
}

@media (max-width:1050px){
    
    .header-content{
        max-width: 45%;
    }
}
@media (max-width:750px){
     
    .header-content{
        max-width: 65%;
        
    }

    .header-content p{
        display: none;
    }
    .header-content button{
        padding: 2vw 4vw;
    }
}